.card {
  padding: 0.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  @apply shadow-lg bg-navyBlue/60;
}
.card h2 {
  font-size: 1.2rem;
  font-weight: 500;
}
.card p {
  @apply text-default-500;
}
