@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-midnight-blue: 47 50 115;
    --color-deep-ocean-blue: 10 62 166;
    --color-midnight-black: 17 26 38;
    --color-navy-blue: 39 66 89;
    --color-aqua-sky-blue: 95 217 217;
    --heightHeader: 80px;
  }

  :root,
  [data-theme] {
    color: hsl(var(--nextui-foreground));
    background-color: rgb(var(--color-midnight-black));
  }

  body main {
    min-height: calc(100vh - var(--heightHeader));
    min-height: calc(100dvh - var(--heightHeader));
  }
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --color-at-midnight-blue: #2f3273;
  --color-at-deep-ocean-blue: #0a3ea6;
  --color-at-midnight-black: #111a26;
  --color-at-navy-blue: #274259;
  --color-at-aqua-sky-blue: #5fd9d9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(30px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-30px);
  }
}

/* ::view-transition {
  background: red;
} */

::view-transition-old(root) {
  /* animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left; */
}

::view-transition-new(root) {
  /* animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right; */
}

::view-transition-old(preposition__about),
::view-transition-new(preposition__about) {
  /* animation: none;
  mix-blend-mode: normal;
  height: 100%;
  overflow: clip; */
}

::view-transition-old(preposition__word__about),
::view-transition-old(preposition__phonetic__about),
::view-transition-old(preposition__spanish__about) {
  width: fit-content;
}

::view-transition-new(preposition__word__about),
::view-transition-new(preposition__phonetic__about),
::view-transition-new(preposition__spanish__about) {
  width: fit-content;
}

::view-transition-old(preposition__desc__about) {
  display: none;
}

::view-transition-old(preposition__about) {
}

::view-transition-new(preposition__about) {
  /* display: none; */
  /* animation: none; */
}
